<div class="ui-widget">
    <label>운동종류: </label>
    <select id="combobox">
        <option value="">Select one...</option>
        <option value="ActionScript">걷기</option>
        <option value="AppleScript">런닝</option>
        <option value="Asp">등산</option>
        <option value="BASIC">자전거</option>
        <option value="C">요가</option>
        <option value="C++">에어로빅</option>
        <option value="Clojure">탁구</option>
        <option value="COBOL">농구</option>
        <option value="ColdFusion">사이클</option>
        <option value="Erlang">헬스</option>
        <option value="Fortran">축구</option>
        <option value="Groovy">골프</option>
        <option value="Haskell">스키</option>
        <option value="Java">격투기</option>
        <option value="JavaScript">클라이밍</option>
        <option value="Lisp">줄넘기</option>
        <option value="Perl">수영</option>
    </select>
</div>

