<!-- toggleButton.html -->
<div id="toggleButton" style="display: none;">
    <button onclick="location.href='mainpage.html'">홈버튼</button>
    <button onclick="location.href='community.html'">커뮤니티</button>
    <button onclick="location.href='myChange.html'">나의변화</button>
    <button onclick="location.href='myActivity.html'">나의활동</button>
    <button onclick="location.href='login.html'">로그인</button>
    <button onclick="location.href='logout.html'">로그아웃</button>
</div>

<button id="toggleButtonControl">토글 버튼 보이기/숨기기</button>