<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<th:block th:insert="~{/admin/include/headerAdmin}"></th:block>

<meta charset="UTF-8">
<title>Food Navigator</title>


<body>
<h2>Food Info</h2>
<article class="box">
    <form method="post" action="admin_food_edit_form">

        <div class="food-detail-Image">
            <div>
                <img src="/assets/images/food.png" alt="Food Image"/>
            </div>
            <div class="food-detail-item-large">
                <span class="food-detail-title">[[${food.name}]]</span>
            </div>
        </div>
        <div class="food-detail-container">
            <table>
                <tr>
                    <th>칼로리(kcal)</th>
                    <th>탄수화물(g)</th>
                    <th>단백질(g)</th>
                    <th>지방(g)</th>
                    <th>채식 여부</th>
                    <th>식단 종류</th>
                </tr>
                <tr>
                    <!--칼로리 값-->
                    <td>[[${food.foodDetail.kcal}]]</td>
                    <!--탄수화물 값-->
                    <td>[[${food.foodDetail.carb}]]</td>
                    <!--단백질 값-->
                    <td>[[${food.foodDetail.prt}]]</td>
                    <!--지방 값-->
                    <td>[[${food.foodDetail.fat}]]</td>
                    <!--채식 여부-->
                    <td th:if="${food.foodDetail.veganType == '0'}">해당 없음</td>
                    <td th:if="${food.foodDetail.veganType == '0'}">해당 없음</td>
                    <td th:if="${food.foodDetail.veganType == '1'}">폴로(닭과 조류는 먹음)</td>
                    <td th:if="${food.foodDetail.veganType == '2'}">페스코(어패류는 먹음)</td>
                    <td th:if="${food.foodDetail.veganType == '3'}">락토오보(달걀 우유는 먹음)</td>
                    <td th:if="${food.foodDetail.veganType == '4'}">락토(유제품은 먹음)</td>
                    <td th:if="${food.foodDetail.veganType == '5'}">비건(순수 채식 만함)</td>
                    <!--식탄 종류-->
                    <td th:if="${food.foodDetail.healthyType == 'all'}">해당 없음</td>
                    <td th:if="${food.foodDetail.healthyType == 'healthyFood'}">건강식</td>
                    <td th:if="${food.foodDetail.healthyType == 'diabeticDiet'}">당뇨식</td>
                    <td th:if="${food.foodDetail.healthyType == 'lowSaltDiet'}">저염식</td>
                </tr>
            </table>
            <div class="food-detail-row">
                <div class="food-detail-item">
                    <span class="food-detail-title">재료</span>
                    <input type="text" class="food-detail-value" readonly value="재료나열재료나열재료나열재료나열재료나열">
                </div>
            </div>
        </div>

        <input type="hidden" name="fseq" th:value="${food.fseq}">
        <input type="submit" value="수정하기">
    </form>
    <a th:href="@{admin_food_delete(fseq=${food.fseq})}">
        <button>삭제하기</button>
    </a>
    <a th:href="@{admin_food_list(page=${pageInfo.number +1})}">
        <button>목록 보기</button>
    </a>
</article>
</body>
</html>

<th:block th:insert="~{/includes/footer}"></th:block>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>