<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{/admin/include/headerAdmin}"></th:block>

<meta charset="UTF-8">
<title>Food Navigator</title>

<body>
	<h2>Food Edit</h2>
	<article class="box">
	<form method="post" action="admin_food_edit" enctype="multipart/form-data">
	<table>
		<tr>
			<th><label for="img">이미지 첨부 :</label></th>
            <td><input type="file" id="img" name="img" accept="food_images/*" th:value="${food.img}"/></td>
		</tr>
		<tr>
			<th>이름</th>
			<td><input type="text" name="name" th:value="${food.name}"/></td>
		</tr>
		<tr>
			<th>칼로리(kcal)</th>
			<td><input type="number" name="kcal" th:value="${food.foodDetail.kcal}"/></td>
		</tr>
		<tr>
			<th>탄수화물(g)</th>
			<td><input type="number" name="carb" th:value="${food.foodDetail.carb}"/></td>
		</tr>
		<tr>
			<th>단백질(g)</th>
			<td><input type="number" name="prt" th:value="${food.foodDetail.prt}"/></td>
		</tr>
		<tr>
			<th>지방(g)</th>
			<td><input type="number" name="fat" th:value="${food.foodDetail.fat}"/></td>
		</tr>
		<tr>
			<th>맛</th>
			<td>
				<div class="field half  checkbox-button">
					<input class="btn" type="checkbox" name="purpose" id="spicy" value="spicy"/>
					<label for="spicy">매운맛</label>
				</div>
				<div class="field half checkbox-button">
					<input class="btn" type="checkbox" name="purpose" id="sweetness" value="sweetness"/>
					<label for="sweetness">단맛</label>
				</div>
				<div class="field half checkbox-button">
					<input class="btn" type="checkbox" name="purpose" id="salty" value="salty"/>
					<label for="salty">짠맛</label>
				</div>
				<div class="field half checkbox-button">
					<input class="btn" type="checkbox" name="purpose" id="sour" value="sour"/>
					<label for="sour">신맛</label>
				</div>
				<div class="field half checkbox-button">
					<input class="btn" type="checkbox" name="purpose" id="bitter" value="bitter"/>
					<label for="bitter">쓴맛</label>
				</div>
				<div class="field half checkbox-button">
					<input class="btn" type="checkbox" name="purpose" id="light" value="light"/>
					<label for="light">담백한 맛</label>
				</div>
			</td>
		</tr>
		<tr>
			<th>채식 여부</th>
			<td>
			<select name="exerciseType" id="vegetarian">
				<option value="noVegetarian">해당 사항 없음</option>
				<option value="pollo">폴로(닭과 조류는 먹음)</option>
				<option value="pesco">페스코(어패류는 먹음)</option>
				<option value="lactoOvo">락토오보(달걀 우유는 먹음)</option>
				<option value="lacto">락토(유제품은 먹음)</option>
				<option value="vegan">비건(순수 채식 만함)</option>
			</select>
			</td>
		</tr>
		<tr>
			<th>나라별 음식</th>
			<td>
			<select name="exerciseType" id="foodCountry">
				<option value="koreanFood">한식</option>
				<option value="westernFood">양식</option>
				<option value="chineseFood">중식</option>
				<option value="japaneseFood">일식</option>
				<option value="asianFood">동남아식</option>
				<option value="fusionFood">퓨전식</option>
			</select>
			</td>
		</tr>
		<tr>
			<th>식단 종류</th>
			<td>
				<select name="exerciseType" id="dietType">
					<option value="healthyFood">건강식</option>
					<option value="diabeticDiet">당뇨식</option>
					<option value="lowSaltDiet">저염식</option>
					<option value="lowCarbohydrate">저탄고지</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>재료</th>
			<td>
				재료 표시하기
			</td>
		</tr>
	</table>	
		<input type="submit" value="수정하기">
	</form>	
	<a th:href="@{/admin_food_Detail(fseq=${food.fseq})}"><button>수정취소</button></a>
	</article>
</body>
</html>

<th:block th:insert="~{/includes/footer}"></th:block>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>