<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{/admin/include/headerAdmin}"></th:block>

<meta charset="UTF-8">
<title>Food Navigator</title>

<h1><a href="admin_main">FoodNavi</a></h1>

<body>
	<h2>Food Edit</h2>
	<form method="post" action="admin_food_edit" enctype="multipart/form-data">
	<table>
		<tr>
			<th><label for="img">이미지 첨부 :</label></th>
            <td><input type="file" id="img" name="img" accept="food_images/*" th:value="${food.img}"/></td>
		</tr>
		<tr>
			<th>이름</th>
			<td><input type="text" name="name" th:value="${food.name}"/></td>
		</tr>
		<tr>
			<th>칼로리(kcal)</th>
			<td><input type="number" name="kcal" th:value="${food.foodDetail.kcal}"/></td>
		</tr>
		<tr>
			<th>탄수화물(g)</th>
			<td><input type="number" name="carb" th:value="${food.foodDetail.carb}"/></td>
		</tr>
		<tr>
			<th>단백질(g)</th>
			<td><input type="number" name="prt" th:value="${food.foodDetail.prt}"/></td>
		</tr>
		<tr>
			<th>지방(g)</th>
			<td><input type="number" name="fat" th:value="${food.foodDetail.fat}"/></td>
		</tr>
		<tr>
			<th>맛</th>
			<td>
			<select name="tasteType">
				<option value="all">구분없음</option>
				<option value="sweet">달달한맛</option>
				<option value="spicy">매운맛</option>
				<option value="sour">새콤달콤</option>
			</select>
			</td>
		</tr>
		<tr>
			<th>채식 여부</th>
			<td>
			<select name="veganType">
				<option value="0">해당 없음</option>
				<option value="1">채식 1단계</option>
				<option value="2">채식 2단계</option>
				<option value="3">채식 3단계</option>
				<option value="4">채식 4단계</option>
				<option value="5">채식 5단계</option>
			</select>
			</td>
		</tr>
		<tr>
			<th>음식풍</th>
			<td>
			<select name="nationType">
				<option value="all">해당 없음</option>
				<option value="ko">한식</option>
				<option value="cn">중식</option>
				<option value="jp">일식</option>
				<option value="we">양식</option>
				<option value="sa">동남아식</option>
			</select>
			</td>
		</tr>
		<tr>
			<th>건강식 여부</th>
			<td>
			<select name="healthyType">
				<option value="all">해당 없음</option>
				<option value="lowna">저염식</option>
				<option value="diab">당뇨식</option>
			</select>
			</td>
		</tr>
		<tr>
			<th>재료</th>
			<td>
				재료 표시하기
			</td>
		</tr>
	</table>	
		<input type="submit" value="수정하기">
	</form>	
	<a th:href="admin_food_Detail(fseq=${food.fseq})"><button>수정취소</button></a>
</body>
</html>

<th:block th:insert="~{/includes/footer}"></th:block>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>