<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{/admin/include/headerAdmin}"></th:block>

<meta charset="UTF-8">
<title>Food List</title>

<h1><a href="admin_main">FoodNavi</a></h1>

<article id="box">
    <h2>Food Search</a></h2>

    <!-- 리스트가 입력되는 영역 -->
    <div id="list_area">
        <table>
            <tr>
                <th>이미지</th>
                <th>이름</th>
                <th>칼로리</th>
            </tr>
            <th:block th:if="${foodScanVo.pageInfo.totalPages == 0}">
                <tr>
                    <td colspan=3>항목 없음</td>
                </tr>
            </th:block>
            <th:block th:unless="${foodScanVo.pageInfo.totalPages == 0}">
                <th:block th:each="food : ${foodList}">
                    <tr class="board_list">
                        <td><a th:href="@{admin_food_Detail(fseq=${food.fseq})}" th:if="${food.img == null}">없음</a>
                            <a th:href="@{admin_food_Detail(fseq=${food.fseq})}" th:if="${food.img != null}"><img th:src="${food.img}"></a></td>
                        <td><a th:href="@{admin_food_Detail(fseq=${food.fseq})}" th:text="${food.name}"></a></td>
                        <td>[[${food.foodDetail.kcal}]]</td>
                    </tr>
                </th:block>
            </th:block>
        </table>
    </div>

    <form action="#" method="get">
        <div class="search-container">
            <label> <input type="text" name="searchWord" class="searchWord">
            </label>

            <button type="submit" class="searchButton">검색</button>
        </div>
    </form>

    <!-- 리스트에 맞게 페이지가 입력되는 영역 -->
    <!-- 리스트의 사이즈가 0인 경우에는 표시되지 않음 -->
    <th:block id="page_insert" th:if="${pageInfo.totalPages != 0}"
              th:insert="~{/food_scan/include/food_page_area}"></th:block>
</article>
<th:block th:insert="~{/includes/footer}"></th:block>