<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{/includes/headerMain}"></th:block>
<meta charset="UTF-8">
<script th:inline="javascript">
    function foodRecord() {
        var food_name = $("#food_name").text();
        var food_score = $("#food_score").text();
        var amount = $("#amount").val();

        $.ajax({
            type: "POST",
            url: "/food_recommend_record",
            data: JSON.stringify({
                food_name: food_name,
                food_score: food_score,
                amount: amount
            }),
            contentType: "application/json",
            success: function (response) {
                alert("성공적으로 기록되었습니다.");
            },
            error: function (error) {
                alert("기록에 실패했습니다.");
            }
        });
    }
</script>
<h1><a href="/mainpage">FoodNavi</a></h1>

<article class="foodRecommend">
    <div class="section" id="section1">
<!--        <span class="arrowBox">-->
<!--            <img class="arrow" id="arrowL1" src="/assets/images/arrowL.png">-->
<!--        </span>-->
<!--        <span class="arrowBox">-->
<!--            <img class="arrow" id="arrowR1" src="/assets/images/arrowR.png">-->
<!--        </span>-->

        <img class="checkmark" src="/assets/images/check.png">
        <h2 class="major">메인 요리</h2>
        <img class="foodImg" src="/assets/images/chicken.png">
        <table class="food-info">
            <tr>
                <td><span class="food-name">닭가슴살 샐러드</span></td>
            </tr>
            <tr>
                <td>칼로리</td>
                <td><span class="calories">123kal</span></td>
            </tr>
            <tr>
                <td>탄수화물</td>
                <td><span class="carbs">132g</span></td>
            </tr>
            <tr>
                <td>단백질</td>
                <td><span class="protein">123g</span></td>
            </tr>
            <tr>
                <td>지방</td>
                <td><span class="fat">123g</span></td>
            </tr>
            <tr>
                <td>재료</td>
                <td><span class="ingredient">샐러드 10g, 닭가슴살 100g, 소금, 10g , 후추,10g, 올리브유 10g</span></td>
            </tr>
            <tr>
                <td>예상 만족도</td>
                <td><span class="satisfaction">
      <img class="star" src="/assets/images/star-full.png">
      <img class="star" src="/assets/images/star-full.png">
      <img class="star" src="/assets/images/star-full.png">
      <img class="star" src="/assets/images/star-full.png">
      <img class="star" src="/assets/images/star-half.png">
    </span></td>
            </tr>
            <tr>
                <td>수량</td>
                <td>
    <span class="quantity">
        <button class="decrease"><img class="pmIcon" src="/assets/images/minus.png"></button>
        <input class="quantity-input" min="0" type="number" value="1">
        <button class="increase"><img class="pmIcon" src="/assets/images/plus.png"></button>
    </span>
                </td>
            </tr>
        </table>
    </div>




    <div class="section" id="section2">
        <h2 class="major">사이드 요리</h2>
        <img class="checkmark" src="/assets/images/check.png">
        <img class="foodImg" src="/assets/images/rice.png">
        <table class="food-info">
            <tr>
                <td><span class="food-name">잡곡밥</span></td>
            </tr>
            <tr>
                <td>칼로리</td>
                <td><span class="calories">123kal</span></td>
            </tr>
            <tr>
                <td>탄수화물</td>
                <td><span class="carbs">132g</span></td>
            </tr>
            <tr>
                <td>단백질</td>
                <td><span class="protein">123g</span></td>
            </tr>
            <tr>
                <td>지방</td>
                <td><span class="fat">123g</span></td>
            </tr>
            <tr>
                <td>재료</td>
                <td><span class="ingredient">샐러드 10g, 닭가슴살 100g, 소금, 10g , 후추,10g, 올리브유 10g</span></td>
            </tr>
            <tr>
                <td>예상 만족도</td>
                <td><span class="satisfaction">
      <img class="star" src="/assets/images/star-full.png">
      <img class="star" src="/assets/images/star-full.png">
      <img class="star" src="/assets/images/star-full.png">
      <img class="star" src="/assets/images/star-half.png">
      <img class="star" src="/assets/images/star-empty.png">
    </span></td>
            </tr>
            <tr>
                <td>수량</td>
                <td>
    <span class="quantity">
        <button class="decrease"><img class="pmIcon" src="/assets/images/minus.png"></button>
        <input class="quantity-input" min="0" type="number" value="1">
        <button class="increase"><img class="pmIcon" src="/assets/images/plus.png"></button>
    </span>
                </td>
            </tr>
        </table>
    </div>

    <div class="section" id="section3">
        <h2 class="major">디저트</h2>
        <img class="checkmark" src="/assets/images/check.png">
        <img class="foodImg" src="/assets/images/snack.png">
        <table class="food-info">
            <tr>
                <td><span class="food-name">우유 젤리</span></td>
            </tr>
            <tr>
                <td>칼로리</td>
                <td><span class="calories">123kal</span></td>
            </tr>
            <tr>
                <td>탄수화물</td>
                <td><span class="carbs">132g</span></td>
            </tr>
            <tr>
                <td>단백질</td>
                <td><span class="protein">123g</span></td>
            </tr>
            <tr>
                <td>지방</td>
                <td><span class="fat">123g</span></td>
            </tr>
            <tr>
                <td>재료</td>
                <td><span class="ingredient">샐러드 10g, 닭가슴살 100g, 소금, 10g , 후추,10g, 올리브유 10g</span></td>
            </tr>
            <tr>
                <td>예상 만족도</td>
                <td><span class="satisfaction">
      <img class="star" src="/assets/images/star-full.png">
      <img class="star" src="/assets/images/star-full.png">
      <img class="star" src="/assets/images/star-full.png">
      <img class="star" src="/assets/images/star-full.png">
      <img class="star" src="/assets/images/star-full.png">
    </span></td>

            </tr>
            <tr>
                <td>수량</td>
                <td>
    <span class="quantity">
        <button class="decrease"><img class="pmIcon" src="/assets/images/minus.png"></button>
        <input class="quantity-input" min="0" type="number" value="1">
        <button class="increase"><img class="pmIcon" src="/assets/images/plus.png"></button>
    </span>
                </td>
            </tr>
        </table>
    </div>
</article>

<a class="button" href="/foodTodayHistory_view" id="foodRecord">기록</a>

<th:block th:insert="~{includes/footer}"></th:block>
<script src="/assets/js/foodRecommend.js/"></script>