<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<th:block th:insert="~{/includes/headerMain}"></th:block>
<meta charset="UTF-8">

<h1><a href="/mainpage">FoodNavi</a></h1>
<article id="box">
    <h2>커뮤니티 게시글 수정</h2>
    <form name="form" method="post" enctype="multipart/form-data" action="/board_edit">
        <input type="hidden" id="bseq" name="bseq" th:value="${board.bseq}">

        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" th:value="${board.title}">
        </div>
        <div>
            작성자: <span th:text="${board.user.name}">작성자명</span>
        </div>
        <div>
            작성일시: <span
                th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}">날짜시간</span>
        </div>
        <div>
            <label for="content">Content:</label>
            <textarea id="content" name="content" rows="10" cols="100" th:utext="${board.content}"></textarea>
        </div>

        <div>
            <label for="img">이미지 첨부 :</label>
            <input type="file" id="img" name="img" accept="images/*" class="button">
            <img th:text="${board.img}">
        </div>

        <button type="submit" class="button">수정 완료</button> <button
            type="button" onclick="window.location.href='/board_list'" class="button">돌아가기</button>
    </form>

<div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            new FroalaEditor('textarea#content');
        });

        document.addEventListener("DOMContentLoaded", function() {
            var editor = new FroalaEditor('textarea#content', {
                imageUploadURL: '/upload_image',  // 이미지 업로드를 처리할 서버의 URL
            });

            document.getElementById('img').addEventListener('change', function() {
                var files = this.files;

                if (files.length) {
                    var fileReader = new FileReader();

                    fileReader.onload = function(e) {
                        editor.image.insert(e.target.result, null, null, editor.image.get());
                    };

                    fileReader.readAsDataURL(files[0]);
                }
            });
        });
    </script>
    </div>

</article>

<th:block th:insert="~{includes/footer}"></th:block>