<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<th:block th:include="~{/includes/headerMain}"></th:block>
<link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.6/css/froala_editor.pkgd.min.css'
      rel='stylesheet' type='text/css'/>
<meta charset="UTF-8">

<h1><a href="/mainpage">FoodNavi</a></h1>

<article id="box">

    <h2>커뮤니티 게시글 작성</h2>
    <form name="form" method="post" enctype="multipart/form-data" action="board_insert">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>

        <div>
            <label for="content">Content:</label>
            <textarea id="content" name="content"></textarea>

            <div>
                <label for="img">이미지 첨부 :</label>
                <input type="file" id="img" name="img" accept="uploadImages/*" class="button">
            </div>

            <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/3.2.6/js/froala_editor.pkgd.min.js'></script>
            <script>
                var editor = new FroalaEditor('#content', {
                    imageUploadURL: '/upload_image',  // 이미지 업로드를 처리할 서버의 URL
                    imageUploadMethod : 'POST'
                });

            </script>
        </div>


        <button type="submit" class="button">게시글 등록</button>

        <button type="button" onclick="window.location.href='/board_list'" class="button">돌아가기</button>
    </form>

</article>

<th:block th:include="~{includes/footer}"></th:block>