<!-- 댓글 영역 -->
<div class="container">
	<form id="commentForm" name="commentForm" method="post">
		<br> <br>
		<div>
			<div>
				<span><h3>comments</h3></span> <span id="Cnt"></span>
			</div>
			<div id="reply">
				<table id="rep_input" style="width: 650px">
					<tr>
						<td style="width: 80%;"><textarea rows="3" cols="75"
								id="content" name="content" placeholder="댓글을 입력하세요"></textarea>
						</td>
						<td style="width: 10%;"><a href='#'
							onClick="save_comment('${board.bseq}, ${loginUser}'); return false;" class="btn">등록</a></td>
					</tr>
				</table>
			</div>
		</div>
		<input type="hidden" id="bseq" name="bseq" th:value="${board.bseq}" />
	</form>
</div>
<div class="container">
	<form id="commentListForm" name="commentListForm" method="get">
		<div id="commentList">
			<!--  댓글 출력 영역 -->
		</div>
	</form>
	<!-- 페이지 처리 영역 -->
	<div>
		<ul id="pagination">
		</ul>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		// 세션에서 현재 사용자 정보 가져오기
		$.ajax({
			type : 'GET',
			url : '/board_detail/comments/current-user',
			dataType : 'json',
			success : function(data) {
				var loginUser = data;
				// 댓글 목록을 가져올 때 loginUser 정보도 함께 가져오도록 수정
				getCommentList(loginUser);
			},
			error : function() {
				alert("현재 사용자 정보를 가져오지 못했습니다.");
			}
		});
	});

	//댓글목록 불러오기
	function getCommentList(loginUser) {

		$.ajax({
			type : 'GET',
			url : '/board_detail/comments/list',
			dataType : 'json', /*서버로 전달할 데이터 형식*/
			data : $("#commentForm").serialize(),
			contentType : 'application/x-www-form-urlencoded; charset=utf-8',
			success : function(data) {
				var commentList = data.commentList;
				var commentCount = data.commentCount;

				showHTML(commentList, commentCount, loginUser);
			},
			error : function() {
				alert("댓글 목록을 조회하지 못했습니다.")
			}
		});
	}

	function showHTML(commentList, commentCount, loginUser) {
		var html = "";

		if (commentList.length > 0) {

			$
					.each(
							commentList,
							function(index, comment) {
								html += "<div>";
								html += "<div id=\"comment_comment\"> <strong>작성자: "
										+ comment.user.userid
										+ "</strong>&nbsp;&nbsp;&nbsp; ";
								html += "<span id=\"write_date\"> 작성일: "
										+ displayTime(comment.createdAt)
										+ "</span><br>";
								html += comment.content;

								// 현재 로그인한 사용자와 댓글 작성자가 같은 경우에만 삭제 버튼을 보여줌
								if (comment.user.useq === loginUser) {
									html += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='#' onclick=\"deleteComment("
											+ comment.cseq
											+ ","
											+ loginUser
											+ "); return false\">삭제</a>";
								}

								html += "<br></div>";
								html += "</div>";
							});
		} else {
			html += "<div>";
			html += "<h3>등록된 댓글이 없습니다.</h3>";
			html += "</div>";
		}
		$("#Cnt")
				.html(
						"댓글 " + "<span style='color;#00f;'>" + commentCount
								+ "</span>");
		$("#commentList").html(html); /* 브라우저에 출력 */
	}

	/*
	 ** 입력 파라미터:
	 **     timeValue - 상품평 등록 시간
	 */
	 function displayTime(timeValue) {
		var today = new Date();
		
		// timeValue를 Date객체로 변환
		var dateObj = new Date(timeValue);
		
		console.log("timeValue="+timeValue);
		console.log("dateObj="+dateObj);

		var timeGap = today.getTime() - dateObj.getTime();
		
		// 오늘 작성된 것은 작성시각으로, 그 외는 작성일자로 표시
		if (dateObj.getFullYear() == today.getFullYear() && dateObj.getMonth() == today.getMonth() && dateObj.getDate() == today.getDate()) {
		// timeGap이 24시간 이내인지 판단
		//if (timeGap < (1000 * 60 * 60 * 24)) {  // 시, 분, 초를 구함
			var hh = dateObj.getHours();
			var mi = dateObj.getMinutes();
			var ss = dateObj.getSeconds();
			console.log("hh="+hh);
			console.log("mi="+mi);
			console.log("ss="+ss);
			
			//return hh + ':' + mi + ':' + ss;
			return [(hh>9 ? '':'0')+hh, ':', (mi>9 ? '':'0')+mi, ':', 
				    (ss>9 ? '':'0')+ss].join('');
		} else {
			var yy = dateObj.getFullYear();
			var mm = dateObj.getMonth() + 1;
			var dd = dateObj.getDate();
			
			//return yy + "-" + mm + "-" + dd;
			return [yy, '/', (mm>9 ? '':'0')+mm, '/', (dd>9 ? '':'0')+dd].join('');
		}
		
	}

	/*
	 **댓글 등록
	 */
	function save_comment(bseq, loginUser) {
		$.ajax({
			type : 'POST',
			url : '/board_detail/comments/save',
			dataType : 'json', /*서버로 전달할 데이터 형식*/
			data : $("#commentForm").serialize(),
			contentType : 'application/x-www-form-urlencoded; charset=utf-8',
			success : function(data) {
				var result = data.result;
				if (result == 'success') { //댓글 등록 성공
					getCommentList(loginUser); //댓글 목록 호출
					$("#content").val("");
				} else if (result == 'fail') {
					alert("댓글등록이 실패하였습니다. 다시 시도해 주세요");
				} else if (result == 'not_logedin') {
					alert("댓글등록은 로그인이 필요합니다.");
				}
			},
			error : function(request, status, error) {
				alert("error: " + error);
			}
		});
	}

	// 댓글 삭제 함수
	function deleteComment(cseq, loginUser) {
		$.ajax({
			type : 'POST',
			url : '/board_detail/comments/delete',
			dataType : 'json',
			data : {
				cseq : cseq,
				loginUser : loginUser
			},
			contentType : 'application/x-www-form-urlencoded; charset=utf-8',
			success : function(data) {
				if (data.result == 'success') {
					getCommentList(loginUser); // 댓글 목록 새로고침
				} else {
					alert("댓글 삭제에 실패했습니다.");
				}
			},
			error : function(request, status, error) {
				alert("댓글 삭제 중 오류가 발생했습니다.");
			}
		});
	}
</script>