<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<th:block th:include="~{/includes/header}"></th:block>
<meta charset="UTF-8">

<article id="box">
    <h2>커뮤니티 게시글 수정</h2>
    <form name="form" method="post" enctype="multipart/form-data" action="/board_edit">
        <input type="hidden" id="bseq" name="bseq" th:value="${board.bseq}">

        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" th:value="${board.title}">
        </div>
        <div>
            작성자: <span th:text="${board.user.name}">작성자명</span>
        </div>
        <div>
            작성일시: <span
                th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}">날짜시간</span>
        </div>
        <div>
            <label for="summernote">Content:</label>
            <textarea id="summernote" name="content" rows="10" cols="100" th:utext="${board.content}"></textarea>
        </div>

        <div>
            <label for="img">이미지 첨부 :</label>
            <input type="file" id="img" name="img" accept="images/*">
            <img th:text="${board.img}">
        </div>

        <button type="submit">수정 완료</button>

        <button type="button" onclick="window.location.href='/board_list'">돌아가기</button>
    </form>


    <script>


        $('#summernote').summernote({
            height: 300,                 // 에디터 높이
            minHeight: 500,             // 최소 높이
            maxHeight: 500,             // 최대 높이
            // 에디터 한글 설정
            lang: "ko-KR",
            // 에디터에 커서 이동 (input창의 autofocus라고 생각)
            focus: true,
            theme: 'darkly',
            toolbar: [
                // 글꼴 설정
                ['fontname', ['fontname']],
                // 글자 크기 설정
                ['fontsize', ['fontsize']],
                // 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
                ['style', ['bold', 'italic', 'underline', 'strikethrough', 'clear']],
                // 글자색
                ['color', ['forecolor', 'color']],
                // 표만들기
                ['table', ['table']],
                // 글머리 기호, 번호매기기, 문단정렬
                ['para', ['ul', 'ol', 'paragraph']],
                // 줄간격
                ['height', ['height']],
            ],
            // 추가한 글꼴
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', '맑은 고딕', '궁서', '굴림체', '굴림', '돋음체', '바탕체'],
            // 추가한 폰트사이즈
            fontSizes: ['8', '9', '10', '11', '12', '14', '16', '18', '20', '22', '24', '28', '30', '36', '50', '72']
        });

    </script>
</article>

<th:block th:include="~{includes/footer}"></th:block>