<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{/includes/header}"></th:block>

<meta charset="UTF-8">
<title>게시글 상세보기</title>


<article>
	<div class="container">
		<h2 class="mb-4">게시글 상세보기</h2>
		<div class="card">
			<div class="card-header">
				<h3 th:text="${board.title}">제목</h3>
			</div>
			<div class="card-body">
				<div class="info">
					<div>
						작성자: <span th:text="${board.user.name}">작성자명</span>
					</div>
					<div>
						작성일시: <span
							th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}">날짜시간</span>
					</div>
					<div>
						조회수: <span th:text="${board.cnt}">조회수</span>
					</div>
				</div>
				<img class="thumbnail"
					th:src="@{/images/{fileName}(fileName=${board.img})}" alt="Image">
				<p class="card-text" th:utext="${board.content}">내용</p>

					<div class="btn-group">
						<a th:href="@{'/board_edit_go/' + ${board.bseq}}"
							class="btn btn-primary">수정하기</a>
						<form th:action="@{'/board_delete/' + ${board.bseq}}" method="post">
							<button type="submit" class="btn btn-danger">삭제하기</button>
						</form>
						<a href="/board_list" class="btn btn-primary">목록으로 돌아가기</a>
					</div>
			</div>
		</div>
	</div>
</article>
<th:block th:insert="~{/includes/footer}"></th:block>
