<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>FoodNavi</title>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="../assets/css/main.css" />
<noscript>
	<link rel="stylesheet" href="../assets/css/noscript.css" />
</noscript>
<!-- summernote   -->
<script src="https://code.jquery.com/jquery-3.6.3.min.js"
	integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
	crossorigin="anonymous"></script>
<link
	href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css"
	rel="stylesheet">
<script src="../assets/js/summernote/summernote-lite.js"></script>
<script src="../assets/js/summernote/lang/summernote-ko-KR.js"></script>
<link href="../assets/css/summernote/summernote-lite-darkly.css"
	rel="stylesheet">

</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="logo">
				<span class="icon fa-gem"></span>
			</div>
			<div class="content">
				<div class="inner">
					<!--				ㅁㅁㅁ -> 고객의 이름이 불러와져야 합니다. 지금은 ㅁㅁㅁ으로 넣어놓겠습니다. -->
					<h1>ㅁㅁㅁ 님 위한 오늘의 식단</h1>
					<p>오늘 섭취한 칼로리 0000kal</p>
					<p>오늘 섭취한 영양소 탄수화물 000% 단백질 000% 지방 000%</p>
				</div>
			</div>
			<nav>
				<ul>
					<li><a href="#community">커뮤니티</a></li>
					<li><a href="#myChange">나의변화</a></li>
					<li><a href="#myActivity">나의활동</a></li>
					<li><a href="#myPage">마이페이지</a></li>

				</ul>
			</nav>
		</header>
