<!-- toggleButton.html -->
<div id="toggleButton" class="box">


    <div class="field">
        <label>목적</label>
        <div class="field half  checkbox-button">
            <input class="btn" type="checkbox" name="purpose" id="diet" value="#" checked/>
            <label for="diet">다이어트</label>
        </div>
        <div class="field half checkbox-button">
            <input class="btn" type="checkbox" name="purpose" id="bulkUp" value="#"/>
            <label for="bulkUp">벌크업</label>
        </div>
    </div>


    <div class="field">
        <label>종류</label>
        <div class="field half  checkbox-button">
            <input class="btn" type="checkbox" name="purpose" id="healthyFood" value="#" checked/>
            <label for="healthyFood">건강식</label>
        </div>
        <div class="field half checkbox-button">
            <input class="btn" type="checkbox" name="purpose" id="diabeticDiet" value="#"/>
            <label for="diabeticDiet">당뇨식</label>
        </div>
        <div class="field half checkbox-button">
            <input class="btn" type="checkbox" name="purpose" id="lowCarbohydrate" value="#"/>
            <label for="lowCarbohydrate">저탄고지</label>
        </div>
        <div class="field half checkbox-button">
            <input class="btn" type="checkbox" name="purpose" id="halalFood" value="#"/>
            <label for="halalFood">할랄푸드</label>
        </div>
    </div>


</div>

<button id="toggleButtonControl" class="fixed-top">상세 조건</button>